# Task 7 â€“ Basic Sales Summary using SQLite and Python

This notebook contains the executed output for Task 7.

In [ ]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [ ]:
conn = sqlite3.connect('sales_data.db')
query = '''SELECT product, SUM(quantity) AS total_quantity, SUM(quantity * price) AS revenue FROM sales GROUP BY product'''
df = pd.read_sql_query(query, conn)
df

### Revenue by Product

In [ ]:
df.plot(kind='bar', x='product', y='revenue', legend=False)
plt.show()